.jumbotron {
  background-color: #99f1ff;
  color: black;
  margin-top: 50px;
}
.btn {
  color: black;
  background-color: pink;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #99f1ff;
  margin-bottom: 0px;
  margin-top: 10px;
}
.card-web {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-compra {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
