@blue: #99f1ff;

@mixin margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @blue;
	color: black;
	.margenes(50px, 10px);
	}

.btn {
	color: black;
	background-color: pink;

}

 footer {
	padding: 10px 10px 0 10px;
	background-color: @blue;
	.margenes(10px, 0px);

}

.card-web{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-compra {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px

}

.tab-content {
	padding-top: 10px;
}