$blue: #fff000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $blue;
	color: black;
	@include margenes(50px, 10px);

}

.btn {
	color: black;
	background-color: pink;

}

 footer {
	padding: 10px 10px 0 10px;
	background-color: $blue;
	@include margenes(10px, 0px);

}

.card-web{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-compra {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px

}

.tab-content {
	padding-top: 10px;
}